PORT=3000
USER_SERVICE_URL=http://user-service:3001
AUTH_SERVICE_URL=http://authentication-service:3002
PRODUCT_SERVICE_URL=http://product-service:3003
SEARCH_SERVICE_URL=http://search-service:3004
INVENTORY_SERVICE_URL=http://inventory-service:3005
CART_SERVICE_URL=http://cart-service:3006
WISHLIST_SERVICE_URL=http://wishlist-service:3007
ORDER_SERVICE_URL=http://order-service:3008
PAYMENT_SERVICE_URL=http://payment-service:3009
INVOICE_SERVICE_URL=http://invoice-service:3010
SHIPPING_SERVICE_URL=http://shipping-service:3011
REVIEW_SERVICE_URL=http://review-rating-service:3012
RECOMMENDATION_SERVICE_URL=http://recommendation-service:3013
ADMIN_SERVICE_URL=http://admin-service:3014
